[Unit]
Description=Bluetooth Proximity Tracking
After=bluetooth.target

[Service]
User=pi
WorkingDirectory=/home/pi/bt_proximity
ExecStart=/usr/bin/python2.7 /home/pi/bt_proximity/publish_rssi.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
